seperatorColor = #dde0e8
darkerSeparatorColor = darken(seperatorColor, 30)

h1
  font-size 250%
h2 
  font-size 200%

body
  font-family Verdana, sans-serif

#top
  background #1d2028
  width 100%
  height 50px
  color white
 
  p
    padding 15px
    padding-left 300px

#left
  position relative
  width 156px
  height 1150px
  background #333745
  float left
 
  .button
    margin 20px
    padding 10px
    text-align center
    border-radius 5px
    background #41ccb4
 
  .inbox
    margin 10px
    padding 10px
    text-align left
  font-size 14px

.square
  width 15px
  height 15px
  margin-right 10px
  float left
  border-radius 2px
  
.Work
  background blue
  
.Dribbble
  background red
  
.Illustrators
  background yellow
  
.Personal
  background green
  
.small
  width 11px
  height 11px
  margin 2px 5px 0px 10px
  border-radius 3px

.typesMenu
  margin 10px
  padding 15px
  text-align left
  font-size 14px

#left 
  ul
    li
      padding 10px 0
      color white
      &:hover
        background:linear-gradient(#404452, #404452) 
      
#content
  float left
  background-color #ffffff

.block
  width 280px
  margin 0px
  padding 20px
  border 1px solid seperatorColor
  border-top 0
  border-left 0
  height 70px
  p
    margin-left 60px
    padding 0px 0px 5px 20px
    // color darkerSeparatorColor
  .message
    overflow-y: hidden;
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 0;
    height 30px
    opacity:0.5;
  img
    float left
    height 70px
    width 70px
    border-radius 5%

  .author
    color black
    font-size 14px

  .sender
    font-size 16px
    padding-bottom 5px

  div .time
    font-size 12px
    float right
    opacity .5

bottomStyle()
  border-bottom 1px solid seperatorColor 


#right
  .information
    padding 30px 20px 10px 520px
    height 70px
    bottomStyle()
  h2
    padding-bottom 5px
  .text
    padding 20px 20px 20px 520px
    bottomStyle()
    div
      line-height 150%
      font-size 12px
  
  .bottom
    height 120px
    border-bottom: 1px solid #dde0e8
    .button
      float left
      margin-top 40px
      margin-left 10px
      padding 10px
      text-align center
      border-radius 5px
      background #41ccb4
  
    #CITYGUIDE
      margin-left 80px
    
    .DOWNLOAD
      float right
      width 200px
      border-left 1px solid #dde0e8
    
    #DOWNLOAD
      margin 40px
  
.add
    margin 20px
    padding 10px
    text-align center
    border-radius 5px
    background #41ccb4


